nav ul{
    list-style-type:none;
    margin:0 auto;
    background-color:black;
    padding:0;
    overflow:hidden;
    margin-top:50px;
    width:426px;
}

nav ul li{
    display:inline;
    font-family:Courier;
   
}
nav ul li a{
    display:block;
    color:white;
    padding:14px 16px;
    text-decoration:none;
    text-align: center;
}

nav ul li a:hover{
    background-color:#333;
}

li a, .dropbtn {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #333;
    min-width: 160px;
    margin-top:-47px;
    margin-left:426px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color:black;
}

.dropdown:hover .dropdown-content {
    display: inline;
}

.timetable{
    margin:0 auto;
}
.choicebuttons{
    background-color:white;
    color:black;
    width:380px;
    border:3px solid black;
    font-size:30px;
    font-family:Courier;
    text-decoration:none;
    padding:10px;
}

.choicebuttons:hover{
    background-color:black;
    color:white;
}

div.control button{
    background-color:white;
    color:black;
    border:3px solid black;
    width:250px;
    font-size:30px;
    font-family:Courier;
}

div.timer{
    border:2px solid black;
    width:200px;
    height:50px;
    line-height:50px;
    font-size:36px;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    margin:5px;
    margin:0 auto;
    margin-top:100px;
}

#timer2{
    border:2px solid black;
    width:200px;
    height:50px;
    line-height:50px;
    font-size:36px;
    font-family:"Courier New", Courier, monospace;
    text-align:center;
    margin:5px;
    margin:0 auto;
    display:none;
}

#pause{
    font-style:Courier;
    font-size:30px;
    display: none;
}

#stopmsg{
    width:800px;
    margin:0 auto;
    font-family:Courier;
    font-size:30px;
    padding-left:90px;
}

#pausemsg{
    width:800px;
    margin:0 auto;
    font-family:Courier;
    font-size:30px;
    padding-left:90px;
}

div.logo{
    margin:0 auto;
    width:290px;
    height:60px;
    background-repeat: no-repeat;
    background-image:url('./logo.png');
    margin-top:200px;
}

div.logo:hover{
    background:url('./logo2.png');
}

#quickwrap{
    margin-top:10px;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

#studying{
    margin:0 auto;
    margin-left:640px;
    font-size:30px;
    margin-top:50px;
    font-family:Courier;
    -webkit-animation: fadein 2s;
    display:none;
}

#studying span {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#studying span:nth-child(2) {
    animation-delay: .2s;
}

#studying span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#pausing{
    float:left;
    margin:-90px;
    padding:0;
    margin-left:100px;
    margin-top:50px;
    -webkit-animation: fadein 2s;
    display:none;
}

#pausenav{
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 160px;
    background-color: #f1f1f1;
    font-family:Courier;
}

#pausing li a{
    display: block;
    color: black;
    text-decoration: none;
}

#pausing li a:hover{
    background-color: #555;
    color: white;
}

#animatepause{
    font-family:Courier;
    font-size:30px;
    
}
#animatepause span:nth-child(2) {
    animation-delay: .2s;
}

#animatepause span:nth-child(3) {
    animation-delay: .4s;
}

#animatepause span{
    animation-name: blink;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}


footer{
    background-color:black;
    color:white;
    text-align: center;
    width:100%;
    position: absolute;
    bottom:0;
}